button {
  padding: 10px;
  outline: none;
  border: none;
  font-size: 4rem;
  background-color: yellowgreen;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: brown;
}

.hidden {
  display: none;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

.big {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}
